extends books/show
include includes/formMethod
include includes/header
block header
  +nav("books")
block content
  h2.page-header= book.title
  .book-details
    div
      img.book-cover(src=book.coverImagePath) 
      .book-details-btn-grid
        a(href="/books/"+book.id+"/edit").btn.btn-primary Edit
        +formMethod("/books/" + book.id + "?_method=DELETE").btn.btn-danger
        a(href="/authors/"+book.author.id).btn.btn-primary.book-details-author-button View Author
    .book-details-grid
      .book-details-label
        div Author:
      div= book.author.name
      .book-details-label
        div Publish Date:
      div= book.publishDate.toDateString()
      .book-details-label
        div Page Count:
      div= book.pageCount
      .book-details-label
        div Description:
      div= book.description